{% load staticfiles %}
{% block page_head %}
<link href="{% static 'bigday/css/invitation.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
<div class="container" id="invitation-body">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">My&nbsp; Invitation!</h2>
            <hr class="primary">

        </div>
    </div>
    <div class="row">
        <p>Dearest,</p>
        <p>{{party.name}}
        <p/>
        <p>Your love and friendship have helped us become who we are. Together with our parents, we invite you to
            share our joy and support our love, as we exchange vows and celebrate our marriage.</p>
    </div>
</div>
<div id="invitations">
    <div class="row">
        {% if 'Shreya Mehendi' not in functions %}
        <section class="col-md-6 text-center">
            <div id="mehendi" class="invitation">
                <h2>Mehendi</h2>
                <p class="lead">
                    Jan 7, 2018, at 11:30 am<br>
                    No. 1 Party Hall, Sumer Nagar<br>
                    S.V. Road, Borivali (W), Mumbai
                </p>
            </div>
        </section>
        {% endif %}
        {% if 'Sid Mehendi' not in functions %}
        <section class="col-md-6 text-center">
            <div id="mandap" class="invitation">
                <h2>Mandap</h2>
                <p class="lead">
                    Jan 7, 2018, at 4:30 pm<br>
                    9, Rushabhdev, Vallabh Baug Lane<br>
                    Ghatkopar East, Mumbai
                </p>
            </div>
        </section>
        {% endif %}
        {% if 'Wedding' in functions %}
        <section class="{% if functions.count > 1 %}col-md-offset-3{%endif%}col-md-6 text-center">
            <div id="wedding-celebration" class="invitation">
                <h2>Wedding Ceremony</h2>
                <p class="lead">
                    Jan 8, 2018, at 4:30 pm<br>
                    Interlink Banquets, D - Wing, 2nd Floor<br>
                    Neelkanth Business Park, Mumbai
                </p>
            </div>
        </section>
        {% elif 'Celebration' in functions %}
        <section class=" col-md-offset-3 col-md-6 text-center">
            <div id="celebration" class="invitation">
                <h2>Wedding Celebration and Dinner</h2>
                <p class="lead">
                    Jan 8, 2018, at 8:00 pm<br>
                    Interlink Banquets, D - Wing, 2nd Floor<br>
                    Neelkanth Business Park, Mumbai
                </p>
            </div>
        </section>
        {% endif %}
    </div>
    <section class="col-md-6">
        <form data-toggle="validator" id="invitation-details" class="form-horizontal" method="post">
            <h2 id="rsvp-header" class="text-center">RSVP</h2>
            <div class="clearfix"></div>
            {% csrf_token %}
            {% for guest in party.ordered_guests.all %}
            <div class="form-group">
                <label class="radio-inline">
                    <input class="attending-radio" type="radio" name="{{ attending_label }}"
                           value="yes" {% if guest.is_attending %} checked="checked" {% endif %} required> will attend
                </label>
                <label class="radio-inline">
                    <input class="attending-radio" type="radio" name="{{ attending_label }}"
                           value="no" {% if not guest.is_attending %} checked="checked" {% endif %} required> will not
                    attend
                </label>
            </div>
            {% endfor %}
            <div class="form-group col-sm-12">
                <input type="text" name="comments" class="form-control" placeholder="Questions/comments/well wishes">
            </div>
            <div class="form-group">
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Submit Response"/>
                </div>
            </div>
        </form>
    </section>
</div>

{% block page_js %}
<script src="{% static 'validator.js' %}"></script>
<script>
    $(function () {
        // enable/disable meal choices based on attendance
        $("input.attending-radio").change(function (e) {
            var target = $(e.target);

            var value = target.attr('value');
            var mealButtonContainer = target.closest('.form-group').next('.form-group');
            var mealButtons = mealButtonContainer.find('[type=radio]');
            if (value === 'yes') {
                mealButtonContainer.removeClass('text-muted');
                mealButtons.each(function (index, button) {
                    button.disabled = false;
                    button.required = true;
                });
            } else if (value === "no") {
                mealButtonContainer.addClass('text-muted');
                mealButtons.each(function (index, button) {
                    button.checked = false;
                    button.disabled = true;
                    button.required = false;
                });
            }
            // reload validation
            $(document.forms[0]).validator('destroy');
            $(document.forms[0]).validator();
        });
    });


</script>
{% endblock %}
