{% load staticfiles %}
{% block page_head %}
<link href="{% static 'bigday/css/invitation.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
<div class="container" id="invitation-body">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">My&nbsp; Invitation!</h2>
            <hr class="primary">

        </div>
    </div>
    <div class="row">
        <p>Dearest,</p>
        <p>{{party.name}}
        <p/>
        <p>Your love and friendship have helped us become who we are. Together with our parents, we invite you to
            share our joy and support our love, as we exchange vows and celebrate our marriage.</p>
    </div>
</div>
<div id="invitations">
    <div class="row">
        {% if 'Shreya Mehendi' in functions %}
        <section class="col-md-6 text-center">
            <div id="mehendi" class="invite">
            </div>
        </section>
        {% endif %}
        {% if 'Sid Mehendi' in functions %}
        <section class="col-md-6 text-center">
            <div id="mandap" class="invite">
            </div>
        </section>
        {% endif %}
        {% if 'Wedding' in functions %}
        <section class="col-md-6 text-center">
            <div id="wedding-celebration" class="invite">
            </div>
        </section>
        {% elif 'Celebration' in functions %}
        <section class=" col-md-offset-3 col-md-6 text-center">
            <div id="celebration" class="invite">
            </div>
        </section>
        {% endif %}
    </div>
</div>