{% load staticfiles %}
<div class="container">
    <h2 class="section-heading text-center">The Couple</h2>
    <hr class="primary">
    <div class="row">
        <div class="col-lg-5 col-sm-6">
            <div class="couple-box">
                <div class="col-md-6">
                    <h3>From Shreya</h3>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'bigday/images/shreya_profile.png' %}" class="img-responsive couple-image"
                         alt="">
                </div>
                <p>
                    In Sid, I first found my best friend, my human diary and then the love of my life and my other half.
                    He is my pillow, pillar and punching bag, all rolled into one. We have known each other for over
                    eight years now, dated for five, and been engaged for two. From being a bunch of teenagers sharing
                    mindless jokes and laughter and secrets to being two people deeply in love sharing dreams and hopes
                    and thoughts and plans about their life together, I have hopped on the most beautiful adventure of
                    my life with him. I cannot wait to commit to a lifetime of laughter, surprises, adventures, bad
                    dance moves and off-key singing, disagreements, holding on and never letting go with my best friend
                    and the most annoying, loving, goofy, perfect person I know.

                </p>
            </div>
        </div>
        <div class="col-lg-2">
            <img src="{% static 'bigday/images/hearts.png' %}" style="width:150px">
            <!--<div id="lottie" style="width:auto;height:500px" ></div>-->
        </div>
        <div class="col-lg-5 col-sm-6">
            <div class="couple-box">
                <div class="col-md-6">
                    <img src="{% static 'bigday/images/charities/spark.jpg' %}" class="img-responsive couple-image"
                         alt="">
                </div>
                <div class="col-md-6">
                    <h3>From Siddharth</h3>
                </div>
                <p>
                    The first time I met Shreya in 2009, I felt a connection and I knew
                    that she is going to be the one. And I feel so fortunate that everything worked out perfectly. She
                    is like this ideal beauty with brains, who almost always knows the right thing to do and is always
                    trying to raise the bar for the right thing too. Over the last 8 years of togetherness, we have gone
                    through a rollercoaster ride and seen each other at our best and worst and every moment, my love for
                    her has only grown. From being my best friend to girlfriend, classmate to colleague, girlfriend to
                    fiancée, I have cherished every moment spent with her! Now, I can’t wait for the transition from
                    fiancée to wifey and hop onto the beautiful adventure that awaits us!
                </p>
            </div>
        </div>
    </div>
    <hr class="light">
</div>
