{% load staticfiles %}
<div class="container">
    <h2 class="section-heading text-center">The Couple</h2>
    <hr class="primary">
    <div class="row">
        <div class="col-lg-5 col-sm-6">
            <div class="couple-box">
                <div class="col-md-6">
                <h3>Shreya Ghelani</h3>
                </div>
                <div class="col-md-6">
                <img src="{% static 'bigday/images/shreya_profile.png' %}" class="img-responsive couple-image"
                     alt="">
                </div>
                <p>
                    In Sid, I first found my best friend, my human diary and then the love of my life and my other half.
                    He is my pillow, pillar and punching bag, all rolled into one. We have known each other for over
                    eight years now, dated for five, and been engaged for two. From being a bunch of teenagers sharing
                    mindless jokes and laughter and secrets to being two people deeply in love sharing dreams and hopes
                    and thoughts and plans about their life together, I have hopped on the most beautiful adventure of
                    my life with him. I cannot wait to commit to a lifetime of laughter, surprises, adventures, bad
                    dance moves and off-key singing, disagreements, holding on and never letting go with my best friend
                    and the most annoying, loving, goofy, perfect person I know.

                </p>
            </div>
        </div>
        <div class="col-lg-2">
            <img src="{% static 'bigday/images/hearts.png' %}" style="width:150px">
        </div>
        <div class="col-lg-5 col-sm-6">
            <div class="couple-box">
                <div class="col-md-6">
                <img src="{% static 'bigday/images/charities/spark.jpg' %}" class="img-responsive couple-image" alt="">
                </div>
                <div class="col-md-6">
                <h3>Siddharth Shah</h3>
                </div>
                <p>
                    <a href="http://www.sparkmicrogrants.org/">Spark MicroGrants</a> is a small NGO pioneering a new
                    method of community development.
                    Spark supports rural poor communities to design, implement and manage their own social impact
                    projects.
                    They provide micro-grants of between $2,000-$10,000 to enable project implementation, such as of a
                    school, electricity line or farm.
                    No interest or repayment of the funds granted is requested.
                    To date Spark has partnered with over 100 communities in Rwanda, Uganda, and Burundi who have
                    developed local project plans and are in the process of implementing them.
                </p>
            </div>
        </div>
    </div>
    <hr class="light">
</div>
