{% load staticfiles%}
<div id="footer" class="text-center text-muted invisible">
    <p><a href="https://www.instagram.com/explore/tags/sidheartshreya/" target="_blank"><img width="40px" height="40px" src="{% static 'bigday/images/insta.png' %}"/> Follow #sidheartshreya on instagram</a></p>
    <p><a href="http://sidheartshreya.com">sidheartshreya.com</a> designed andbuilt by Shreya and Siddharth.</p>
    <p>A big shout out to <a href="https://www.instagram.com/emotionspersonalised/">Emotions Personalised</a> for creative invites.</p>

</div>
