{% load staticfiles %}
<div class="container">
        <h2 class="section-heading text-center">Photo Gallery</h2>
        <hr class="primary">

<div id="nanoGallery">
      <a href="{% static 'bigday/images/Cake cutting.jpg' %}" data-ngthumb="{% static 'bigday/images/Cake cutting.jpg' %}" data-ngdesc="Description1">Title Image1</a>
      <a href="{% static 'bigday/images/chandratal.jpg' %}" data-ngthumb="{% static 'bigday/images/chandratal.jpg' %}" data-ngdesc="Description1">Title Image1</a>
      <a href="{% static 'bigday/images/Bow_to_the_gods_trek.jpg' %}" data-ngthumb="{% static 'bigday/images/Bow_to_the_gods_trek.jpg' %}" data-ngdesc="Description1">Title Image1</a>
    <a href="{% static 'bigday/images/Cake cutting.jpg' %}" data-ngthumb="{% static 'bigday/images/Cake cutting.jpg' %}" data-ngdesc="Description1">Title Image1</a>
      <a href="{% static 'bigday/images/chandratal.jpg' %}" data-ngthumb="{% static 'bigday/images/chandratal.jpg' %}" data-ngdesc="Description1">Title Image1</a>
      <a href="{% static 'bigday/images/Bow_to_the_gods_trek.jpg' %}" data-ngthumb="{% static 'bigday/images/Bow_to_the_gods_trek.jpg' %}" data-ngdesc="Description1">Title Image1</a>
    <a href="{% static 'bigday/images/Cake cutting.jpg' %}" data-ngthumb="{% static 'bigday/images/Cake cutting.jpg' %}" data-ngdesc="Description1">Title Image1</a>
      <a href="{% static 'bigday/images/chandratal.jpg' %}" data-ngthumb="{% static 'bigday/images/chandratal.jpg' %}" data-ngdesc="Description1">Title Image1</a>
      <a href="{% static 'bigday/images/Bow_to_the_gods_trek.jpg' %}" data-ngthumb="{% static 'bigday/images/Bow_to_the_gods_trek.jpg' %}" data-ngdesc="Description1">Title Image1</a>
     <a href="{% static 'bigday/images/Cake cutting.jpg' %}" data-ngthumb="{% static 'bigday/images/Cake cutting.jpg' %}" data-ngdesc="Description1">Title Image1</a>
      <a href="{% static 'bigday/images/chandratal.jpg' %}" data-ngthumb="{% static 'bigday/images/chandratal.jpg' %}" data-ngdesc="Description1">Title Image1</a>
      <a href="{% static 'bigday/images/Bow_to_the_gods_trek.jpg' %}" data-ngthumb="{% static 'bigday/images/Bow_to_the_gods_trek.jpg' %}" data-ngdesc="Description1">Title Image1</a>
    <a href="{% static 'bigday/images/Cake cutting.jpg' %}" data-ngthumb="{% static 'bigday/images/Cake cutting.jpg' %}" data-ngdesc="Description1">Title Image1</a>
      <a href="{% static 'bigday/images/chandratal.jpg' %}" data-ngthumb="{% static 'bigday/images/chandratal.jpg' %}" data-ngdesc="Description1">Title Image1</a>
      <a href="{% static 'bigday/images/Bow_to_the_gods_trek.jpg' %}" data-ngthumb="{% static 'bigday/images/Bow_to_the_gods_trek.jpg' %}" data-ngdesc="Description1">Title Image1</a>
    <a href="{% static 'bigday/images/Cake cutting.jpg' %}" data-ngthumb="{% static 'bigday/images/Cake cutting.jpg' %}" data-ngdesc="Description1">Title Image1</a>
      <a href="{% static 'bigday/images/chandratal.jpg' %}" data-ngthumb="{% static 'bigday/images/chandratal.jpg' %}" data-ngdesc="Description1">Title Image1</a>

</div>


</div>