{% load staticfiles %}
<div class="container">
    <h2 class="section-heading text-center">Photo Gallery</h2>
    <hr class="primary">

    <div id="nanoGallery">
        <a href="{% static 'bigday/images/gallery/17mile.jpg' %}"
           data-ngthumb="{% static 'bigday/images/gallery/17mile.jpg' %}" data-ngdesc="Description1">Title Image1</a>
        <a href="{% static 'bigday/images/gallery/dalhousie.jpg' %}"
           data-ngthumb="{% static 'bigday/images/gallery/dalhousie.jpg' %}" data-ngdesc="Description1">Title Image1</a>
        <a href="{% static 'bigday/images/gallery/sealink.jpg' %}"
           data-ngthumb="{% static 'bigday/images/gallery/sealink.jpg' %}" data-ngdesc="Description1">Title Image1</a>
        <a href="{% static 'bigday/images/gallery/halloween.jpg' %}"
           data-ngthumb="{% static 'bigday/images/gallery/halloween.jpg' %}" data-ngdesc="Description1">Title Image1</a>
        <a href="{% static 'bigday/images/gallery/sealink-1.jpg' %}"
           data-ngthumb="{% static 'bigday/images/gallery/sealink-1.jpg' %}" data-ngdesc="Description1">Title Image1</a>
        <a href="{% static 'bigday/images/gallery/trek.jpg' %}"
           data-ngthumb="{% static 'bigday/images/gallery/trek.jpg' %}" data-ngdesc="Description1">Title Image1</a>
        <a href="{% static 'bigday/images/gallery/sealink-2.jpg' %}"
           data-ngthumb="{% static 'bigday/images/gallery/sealink-2.jpg' %}" data-ngdesc="Description1">Title Image1</a>
        <a href="{% static 'bigday/images/gallery/sangeet.jpg' %}"
           data-ngthumb="{% static 'bigday/images/gallery/sangeet.jpg' %}" data-ngdesc="Description1">Title Image1</a>
        <a href="{% static 'bigday/images/gallery/trek-1.jpg' %}"
           data-ngthumb="{% static 'bigday/images/gallery/trek-1.jpg' %}" data-ngdesc="Description1">Title Image1</a>
        <a href="{% static 'bigday/images/gallery/goddhana.jpg' %}"
           data-ngthumb="{% static 'bigday/images/gallery/goddhana.jpg' %}" data-ngdesc="Description1">Title Image1</a>
        <a href="{% static 'bigday/images/gallery/trek-2.jpg' %}"
           data-ngthumb="{% static 'bigday/images/gallery/trek-2.jpg' %}" data-ngdesc="Description1">Title Image1</a>
    </div>
    <hr class="light">
</div>