<div class="container">
    <h2 class="section-heading text-center">The Venue</h2>
    <hr class="primary">
    <div class="row">
        <div class="col-md-6">
            <div class="couple-box">
                <h3>Wedding Pheras</h3>
                <p>4:15pm - 6:00pm</p>
                <p>We take our vows and commit to a lifetime of love to each other!</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="couple-box">
                <h3>Dinner and Dance</h3>
                <p>7:30pm - 11:00pm</p>
                <p>Dinner, drinks, and awkward but enthusiastic dancing with loads of photos</p>
            </div>
        </div>
    </div>
    <iframe width="100%" height="450" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?q=Interlink%20Banquets&key=AIzaSyAI3BtVAeDWic6WvIlZmNaXGk6DNR2U3Zc"
            allowfullscreen></iframe>
</div>