<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-file-text"></i></div>
            <br>
            <h3 class="section-heading text-center">Paperless</h3>
            <hr class="primary">
            <p>
                Almost all of our save the dates, invitations, and thank-you notes are being delivered digitally with a
                goal towards minimizing the usage of paper. These small choices have helped us enjoy a more eco-friendly
                wedding.

            </p>
            <p>
                (In order to make up for the absence of paper invitations, Sid spent more time than he’d care to admit,
                making this awesome website.)
            </p>
        </div>
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-cutlery"></i></div>
            <br>
            <h3 class="section-heading text-center">Vegan</h3>
            <hr class="primary">
            <p>
                Shreya has recently embraced a vegan lifestyle since she believes that the dairy industry does
                unimaginable physical and psychological harm to dairy animals. We have tried our best to minimize the
                use of dairy products in the wedding dinner spread.
            </p>
            <p>
                (We absolutely do not want to spook you, but if you'd would like to know more about the torture that cows live through in a dairy farm, <a href="https://www.youtube.com/watch?v=LRZ4yWpsrFw">Click Here</a>)
            </p>
        </div>
    </div>
</div>
