<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-file-text"></i></div>
            <br>
            <h3 class="section-heading text-center">Paperless</h3>
            <hr class="primary">
            <p>
                We wanted our wedding to be paperless.
                That means almost all of our save the dates, invitations, and thank-you notes are being delivered digitally.
                These small choices have helped us to enjoy a more eco-friendly wedding and save the trees.
                Thank you for your support and understanding!

            </p>
            <p><small>(In order to make up for the lack of paper invitations, Sid spent more time than he’d care to admit making this website.)</small></p>
        </div>
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-cutlery"></i></div>
            <br>
            <h3 class="section-heading text-center">Vegan</h3>
            <hr class="primary">
            <p>
                Shreya deeply believes that the dairy industry does unmentionable harm to the lives of cattle and hence she follows veganism(She avoids using any milk products in any form, even chocolates and ice-creams).
                Wedding is a big affair and the amount of dairy used at a single wedding can save a cows life. We have tried our best to minimise the use of dairy products except for the deserts.
            </p>
            <p>
                If you would like to know more about the atrocities that cows face in dairy farm, <a href="https://www.youtube.com/watch?v=LRZ4yWpsrFw">click here</a>.
            </p>
        </div>
    </div>
</div>
