<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Find&nbsp; your&nbsp; Invitation!</h2>
            <hr class="primary">
            <p>Enter your details to find your reservation!</p>
        </div>
    </div>
    <div class="row">
        <form class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2" action="{% url 'find-my-invite' %}">
            <div class="form-group float-label-control">
                <label for="first_name">First Name</label>
                <input class="form-control" hint="First Name" name="first_name" id="first_name" type="text"/>
            </div>
            <div class="form-group float-label-control">
                <label for="last_name">Last Name</label>
                <input class="form-control" hint="Last Name" name="last_name" id="last_name" type="text"/>
            </div>
            <div class="form-group float-label-control">
                <label for="phone">Phone Number (with country code)</label>
                <input class="form-control" hint="Last Name" id="phone" name="phone" type="text"/>
            </div>
            <div class="form-group text-center">
                <button class="submit btn-lg btn-primary" type="submit">Find my Invitation</button>
            </div>
        </form>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <p> For any other queries, feel free to shoot us an email</p>
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            <p><a href="mailto:love@sidheartshreya.com">love@sidheartshreya.com</a></p>
        </div>
    </div>
</div>