<div class="container">
    <div class="timeline-item">
        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
            <h2>Boy meets Girl</h2>
            <div class="date">25th Nov 2009</div>
            <p>Through their college years, they become inseparable friends</p>
        </div>
    </div>

    <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInRight">
            <h2></h2>
            <div class="timeline-img-header ">
                <div class="date">23 May 2012</div>
            </div>
            <p class="description">On a beautiful day in Bangalore, the realization of love hits home. First official
                date!</p>
        </div>

    </div>

    <div class="timeline-item">

        <div class="timeline-img"></div>
        <div class="timeline-content js--fadeInLeft">
            <h2>Boy goes down on his knees.</h2>
            <div class=" vertical timeline-img-header">
            <div class="date">19 Jan 2016</div>
            </div>
        </div>
    </div>

    <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInRight">
            <h2>The Goddhana day</h2>
            <div class="vertical timeline-img-header">

                <div class="date">31 Jan 2016</div>
            </div>

        </div>
    </div>

    <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
            <h2>Card Title</h2>
            <div class="timeline-img-header vertical">

                <div class="date">10 JULY 2016</div>
            </div>

            <p>Countless precious memories and a series of firsts - long-distance being the big one!</p>
        </div>
    </div>

    <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
            <div class="date">8 Jan 2018</div>
            <h2>The Big Day!</h2>
            <blockquote>The big day, when amidst friends and family, they will tie the knot. (Save the date photo)
                The happily ever after!
            </blockquote>
        </div>
    </div>
</div>
