{% load staticfiles %}
<div class="container">
    <div class="timeline-item">
        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
            <h2>Boy meets Girl</h2>
            <div class="timeline-img-header vertical">
                <div class="date">25th Nov 2009</div>
            </div>
            <p>Through their college years, they become inseparable friends</p>
        </div>
    </div>

    <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInRight">
            <h2>First Date</h2>
            <div class="timeline-img-header ">
                <div class="date">23 May 2012</div>
            </div>
            <p class="description">On a beautiful day in Bangalore, the realization of love hits home</p>
        </div>

    </div>

    <div class="timeline-item">

        <div class="timeline-img"></div>
        <div class="timeline-content js--fadeInLeft">
            <h2>The Proposal</h2>
            <div class=" vertical timeline-img-header">
                <div class="date">19 Jan 2016</div>
            </div>
            <p class="">Boy sweeps the girl off her feet by going down on his knees in a movie theatre!</p>
        </div>
    </div>

    <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInRight">
            <h2>The Goddhana</h2>
            <div class=" timeline-img-header">

                <div class="date">31 Jan 2016</div>
            </div>
            <p>With blessings from family and friends, love solidifies!</p>
        </div>
    </div>

    <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
            <h2>The Story Continues</h2>
            <div class="timeline-img-header">
            </div>

            <p>Countless precious memories and a series of firsts - long-distance being the big one!</p>
        </div>
    </div>

    <div class="timeline-item">
        <div class="timeline-img"></div>
        <div class="timeline-content js--fadeInRight">
            <h2>The Big Day!</h2>
            <div class="timeline-img-header vertical">

                <div class="date">8 Jan 2018</div>
            </div>
            <p>Amidst friends and family, Boy and Girl will tie the knot</p>
        </div>
    </div>
    <div class="timeline-item">

        <div class="timeline-img"></div>
    </div>
</div>
<div id="quote">
    <h3 class="text-center"
        style="letter-spacing:1px;color:#f99681;font-weight:normal;margin-top: 100px;font-size:72px"> And the happily
        ever after! </h3>
</div>

