{% extends "base.html" %}
{% load staticfiles %}
{% block page_head %}
<meta property="og:title" content="Siddharth & Shreya's Big Day" />
<meta property="og:description" content="We invite you to share our joy and support our love, as we exchange vows and celebrate our marriage" />
<meta property="og:url" content="http://sidheartshreya.com{{ request.path }}" />
<meta property="og:image" itemprop="image" content="http://sidheartshreya.com{% static 'bigday/images/og_image.jpeg'%}" />
<!-- Custom CSS -->
<link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
<link href="{% static 'bigday/css/timeline.css' %}" rel="stylesheet">
<link href="{% static 'bigday/css/nanogallery.min.css' %}" rel="stylesheet">
<link href="{% static 'bigday/css/nanogallery_light.min.css' %}" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.13.0/bodymovin.js" type="text/javascript"></script>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,‌​100italic,300,300ita‌​lic,400italic,500,50‌​0italic,700,700itali‌​c,900italic,900' rel='stylesheet' type='text/css'>

{% endblock %}
{% block page_content %}
<nav id="mainNavigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">#sidheartshreya</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse in" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-center">
                <li>
                    <a class="page-scroll" href="#main-header">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#couple">Couple</a>
                </li>
                <li>
                    <a class="page-scroll" href="#story">Our Story</a>
                </li>
                <li>
                    <a class="page-scroll" href="#venue">Venue</a>
                </li>
                <li>
                    <a class="page-scroll" href="#other-stuff">Everything Else!</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">My Invitation</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% block main %}
<header id="main-header">
    <div class="header-content">
        <div class="header-content-inner">

            {% comment %}
            <hr>
            <h2>It's wedding week!</h2>
            <a href="#welcome" class="btn btn-info btn-xl page-scroll">Welcome</a>
            <a href="#event" class="btn btn-primary btn-xl page-scroll">Friday</a>
            <a href="#saturday-event" class="btn btn-success btn-xl page-scroll">Saturday</a>
            {% endcomment %}
        </div>
    </div>
</header>
<div id="quote" class="heart-background">
    <h3 class="text-center" style="letter-spacing:1px;">~ When you meet the one who changes the way your heart beats,
        dance with them to that rhythm for as long as the song lasts ~ </h3>
</div>
<section id="couple">
    {% include 'partials/couple.html' %}
</section>
{% comment %}
{% include 'partials/wedding-party.html' %}
{% endcomment %}
<section id="story">
    {% include 'partials/story.html' %}
</section>
<section class="timeline">
    {% include 'partials/timeline.html' %}
</section>
<!--{% include 'partials/proposal.html' %}-->
<section id="gallery" class="bg-light">
    {% include 'partials/gallery.html' %}
</section>
<!--{% include 'partials/event.html' %}-->
<section id="venue">
    {% include 'partials/map.html' %}
</section>
<section>
    {% include 'partials/gifts.html' %}
</section>

<section id="contact">
    {% if functions %}
    {% include 'guests/invitation.html' %}
    {% else %}
    {% include 'partials/my-invitation.html' %}
    {% endif %}
</section>
{% endblock %}
{% endblock %}
{% block page_js %}
<!-- Plugin JavaScript -->
<!-- Easing is for the vertical scroll animations -->
<script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
<!-- Automatically fit text based on screen size.-->
<script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'creative/js/creative.js' %}"></script>
<script src="{% static 'creative/js/scrollreveal.min.js' %}"></script>

<script src="{% static 'creative/js/jquery.nanogallery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.13.0/bodymovin.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        $("#nanoGallery").nanoGallery({
          thumbnailWidth: 'auto',
          thumbnailHeight: 250,
          theme: 'light',
          thumbnailHoverEffect: [{ name: 'labelAppear75', duration: 300 }],
          thumbnailGutterWidth : 0,
          thumbnailGutterHeight : 0,
          thumbnailLabel: { display: true, position: 'overImageOnMiddle', align: 'center' }
        });
      });
</script>

<script>
    $(function(){

  window.sr = ScrollReveal();

  if ($(window).width() < 768) {

  	if ($('.timeline-content').hasClass('js--fadeInLeft')) {
  		$('.timeline-content').removeClass('js--fadeInLeft').addClass('js--fadeInRight');
  	}

  	sr.reveal('.js--fadeInRight', {
	    origin: 'right',
	    distance: '100px',
	    easing: 'ease-in-out',
	    duration: 200,
	  });

  } else {

  	sr.reveal('.js--fadeInLeft', {
	    origin: 'left',
	    distance: '300px',
		  easing: 'ease-in-out',
	    duration: 400,
	  });

	  sr.reveal('.js--fadeInRight', {
	    origin: 'right',
	    distance: '300px',
	    easing: 'ease-in-out',
	    duration: 400,
	  });

  }

  sr.reveal('.js--fadeInLeft', {
	    origin: 'left',
	    distance: '200px',
		  easing: 'ease-in-out',
	    duration: 400,
	  });

	  sr.reveal('.js--fadeInRight', {
	    origin: 'right',
	    distance: '200px',
	    easing: 'ease-in-out',
	    duration: 400,
	  });


});
</script>
<script>
    $('#invite-form').submit(function() { // catch the form's submit event
    $.ajax({ // create an AJAX call...
        data: $(this).serialize(), // get the form data
        type: $(this).attr('method'), // GET or POST
        url: $(this).attr('action'), // the file to call
        success: function(response) { // on success..
            $('#contact').html(response); // update the DIV
            $('html, body').animate({ scrollTop: $('#invitation-body').offset().top }, 'slow');
        },
        error: function(xhr, ajaxOptions, thrownError) {
            $("#error-message").removeAttr('hidden');
            $("#phone").focus();
        }
    });
    return false; // cancel original event to prevent form submitting
});
</script>
{% endblock %}
